# Android Studio-specific ignores
.idea/
*.iml
.gradle/
local.properties

# Flutter-specific ignores
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.packages
.dart_tool/
build/

# C++/NDK-specific ignores
*.o
*.obj
*.so
*.dll
*.a
*.d
*.suo
*.pdb
*.lib
*.exe
*.idb
*.class
cxx/Debug/
cxx/Release/
.externalNativeBuild/

# OS-specific ignores
.DS_Store
Thumbs.db

# Environment files
.env
